* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	color: var(--font);
}

:root {
	--background: #eaefd3;
	--font: #636363;
	--card: #dcb8cb;
}

.main {
	background-color: var(--background);
	width: 100%;
	min-height: 100vh;
	border: 1px solid transparent;
}

.cardContainer {
	background-color: #dcb8cb;
	height: 60vh;
	width: 25%;
	padding: 1em;
	margin: 1em;
	border: 2px solid gray;
}
