* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
	color: var(--font);
}

:root {
	--background: #eaefd3;
	--font: #636363;
	--card: #dcb8cb;
	--navbar: #636363;
}

.main {
	display: grid;
	background-color: var(--background);
	width: 100%;
	min-height: 100vh;
	border: 1px solid transparent;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.cardContainer {
	background-color: #dcb8cb;
	height: 50vh;
	width: 70%;
	padding: 1em;
	margin: 1em;
	border: 2px solid grey;
	border-radius: 5%;
}
