.navbarContainer {
	display: flex;
	height: 10vh;
	width: 100%;
	background-color: var(--navbar);
}

.title {
	font-size: 5em;
	color: white;
}
.basketBtn {
	background-color: var(--card);
	color: white;
	font-size: 2em;
	align-self: center;
	justify-self: flex-end;
}
